*{
    font-family: 'Nunito';
}
.game-wrapper{
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    font-weight: bold;
    transition: .2s;
}

.glow-on-hover:disabled{
    color: gray !important;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
.box{
    overflow: hidden;
    position: relative;
    border: 1px solid hotpink;
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
    border-radius: 10px;
    width: 550px;
    height: 500px;
    background: white;
    margin-right: 50px;
}
.bubble{
    position: absolute;
    /* left: 20px;
    top: 40px;
    width: 20px;
    height: 20px;
    background: red; */
    border-radius: 50%;
}
.button-wrapper{
    margin-top: 20px;
}
.level-radios{
    margin-top: 20px;
}
.level-radios .form-check{
    margin-bottom: 10px;
}
.level-radios .form-check label{
   font-weight: bold;
   text-shadow: 1px 1px rgb(255, 72, 163);
}
.your-score{
   width: 50%;
    height: 50px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    background: white;
    display: flex;
    align-items: center;
    padding-left: 20px;
    margin-bottom: 20px;
    transition: .2s ease-in;
}
.your-score:hover{
    transform: scale(0.9);
}
.your-score span{
    font-weight: 800;
    font-style: italic;
}
body{
    height: 100vh;
    overflow: hidden;
    background: rgba(255, 105, 180, 0.171);
    transition: .5s linear;
}
.score-board{
    height: 300px;
    overflow-y: auto;
}
.game-title{
    text-align: center;
    padding: 25px 0;
}
.game-title h1{
    transition: .2s linear;
    cursor: pointer;
        font-weight: 900;
        color: rgb(223, 55, 139);
        
        --x-offset: -0.0625em;
        --y-offset: 0.0625em;
        --stroke: 0.025em;
        --background-color: white;
        --stroke-color: lightblue;    
        text-shadow: 
          var(--x-offset)
          var(--y-offset)
          0px
          var(--background-color), 
          
          calc( var(--x-offset) - var(--stroke) )
          calc( var(--y-offset) + var(--stroke) )
          0px
          var(--stroke-color);
}
.game-title h1:hover{
    letter-spacing: 2px;
}
@media screen and (max-width: 768px) {
    .box{
     height: 300px;
     width: 100%;
     margin-right: 20px;
    }
    input{
        width: 80%;
        margin-top: 40px;
    }
    .glow-on-hover{
        width: 115px;
    }
    .button-wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    body{
        height: auto !important;
        overflow: visible;
    }
    .game-wrapper{
        height: auto !important;
    }
}
